@{
    ViewBag.Title = "Handleiding";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<ol>
    <li>@Html.ActionLink("Link Text", "", "Home")</li>
    <li>@Html.ActionLink("Link Text", "", "Home")</li>
    <li>@Html.ActionLink("Link Text", "", "Home")</li>
    <li>@Html.ActionLink("Link Text", "", "Home")</li>
    <li>
        <ul>
            @Html.ActionLink("Link Text", "", "Home")
            @Html.ActionLink("Link Text", "", "Home")
            @Html.ActionLink("Link Text", "", "Home")
        </ul>
    </li>
</ol>

<img class="thumbnail col-lg-12" src="~/Content/Images/fb1.png" alt="">


