<h2>Handleiding Index</h2>

<p>
    Op deze pagina vind je een inhoudsopgave met alle pagina's van de handleiding. 
</p>

<p>
    <ul class="list-unstyled">
        <li>
            <h4>@Html.ActionLink("Facebook zakelijk account aanmaken", "FacebookZakelijkAccount", "Handleiding")</h4>
            <ul>
                <li><h5>@Html.ActionLink("Facebook privé account aanmaken", "FacebookPriveAccount", "Handleiding")</h5></li>
            </ul>
        </li>
        <li><h4>@Html.ActionLink("Twitter zakelijk account aanmaken", "TwitterZakelijkAccount", "Handleiding")</h4></li>
        <li><h4>@Html.ActionLink("Kort maar krachtig: wat kan je met Social Media?", "InfoSocialMedia", "Handleiding")</h4></li>
        <li><h4>@Html.ActionLink("Hoe werkt Facebook?", "HoeWerktFacebook", "Handleiding")</h4></li>
        <li><h4>@Html.ActionLink("Hoe werkt Twitter?", "HoeWerktTwitter", "Handleiding")</h4></li>
        <li><h4>@Html.ActionLink("Help! Ik ben niet zo goed in schrijven", "HulpMetSchrijven", "Handleiding")</h4></li>
        <li><h4>@Html.ActionLink("Posts, tweets… Tips & Tricks!", "TipsEnTricks", "Handleiding")</h4></li>
        <li><h4>@Html.ActionLink("Posten op Facebook", "PostenOpFacebook", "Handleiding")</h4></li>
        <li><h4>@Html.ActionLink("Tweeten op Twitter", "TweetenOpTwitter", "Handleiding")</h4></li>
        <li><h4>@Html.ActionLink("Social contentstrategie", "SocialContentStrategie", "Handleiding")</h4></li>

    </ul>
</p>

<p>
    <a href="~/Content/Social-contentHandleiding.pdf" target="_blank">
        <img class="thumbnail" src="~/Content/Images/pdf.png" alt="">
    </a>
</p>
<p>
    De complete handleiding als pdf downloaden.
</p>



